body {
  margin: 20px;
  background-color: #1B1D1F;
}
body > div {
  float: left;
}
body > div:first-child {
  width: 200px;
}
td {
  width: 14px;
  height: 14px;
  border-radius: 2px;
}
table {
  margin: 10px;
}
.boxTag {
  background-color: white;
  margin: 0px;
  text-align: center;
  font-family: 'Century Gothic';
  font-weight: bold;
  font-size: 12pt;
  color: black;
  line-height: 1.5;
}
.statTag {
  font-weight: bold;
  font-size: 9pt;
  line-height: 1.2;
}
.coloumn {
  border: 1px solid white;
  border-top: 0px;
}
#holdDisplay {
  float: right;
}
#nextDisplay {
  float: left;
}
#statBoard {
  margin-top: 100px;
  margin-right: 15px;
}
#statBoard p {
  text-align: right;
  color: white;
}
#scoreBoard {
  margin-top: 285px;
  margin-left: 15px;
}
#scoreBoard p {
  text-align: left;
  color: white;
}
#gameTable {
  margin: 0px;
}